extends ../_layout
block content
    main.main__container
        h1.heading= id ? 'Edit a Choice' : 'Create a New Choice'
        form.form(method="POST")
            label.form__label 
                span Choice Value
                input.form__input(type="text", name="value", value=value) 
            label.form__label
                span Choice Type
                label.form__labelInline
                    input.form__input__radio(type="radio", name="type", value="incorrect", checked=type==="incorrect")
                    span Incorrect
                label.form__labelInline
                    input.form__input__radio(type="radio", name="type", value="correct", checked=type==="correct")
                    span Correct
            button(type="submit" class="button active")= id ? 'Save Choice' : 'Create a New Choice'
            if errors
                for error in errors
                    small.flash=error.msg